<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">性别</dt>
                <dd>男</dd>

                <dt class="text-upper">出生日期</dt>
                <dd>Aug 1993</dd>

                <dt class="text-primary">e-mail</dt>
                <dd><a href="mailto:lhj168os@gmail.com">lhj168os@gmail.com</a></dd>

                <dt class="text-upper">博客</dt>
                <dd><a href="https://blog.csdn.net/lhj_168">https://blog.csdn.net/lhj_168</a></dd>

                <dt class="text-upper">学历</dt>
                <dd>本科</dd>

                <dt class="text-upper">方向</dt>
                <dd>Golang服务端开发</dd>
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->